In [76]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import NoSuchElementException, ElementNotInteractableException,TimeoutException
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import urllib.request
import os

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

# Connect with webdriver

In [2]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [4]:
driver.get(url)

In [5]:
driver.maximize_window()
time.sleep(2)

# To Scrape The Elements

In [6]:
rank=[]
rank_tag= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")

try:
    for i in rank_tag:
        rank.append(i.text)
except NoSuchelementException:
    rank.append('-')

In [7]:
name=[]
name_tag= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")

try:
    for i in name_tag:
        name.append(i.text)
except NoSuchelementException:
    name.append('-')

In [8]:
artist=[]
artist_tag= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")

try:
    for i in artist_tag:
        artist.append(i.text)
except NoSuchelementException:
    artist.append('-')

In [9]:
upload_date=[]
upload_tag= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")

try:
    for i in upload_tag:
        upload_date.append(i.text)
except NoSuchelementException:
    upload_date.append('-')

In [10]:
views=[]
views_tag= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")

try:
    for i in views_tag:
        views.append(i.text)
except NoSuchelementException:
    views.append('-')

In [11]:
print(len(rank), len(name), len(artist), len(upload_date), len(views))

30 30 30 30 30

# Make DataFrame

In [12]:
df=pd.DataFrame({'Rank': rank,
                 'Name': name,
                 'Artist': artist,
                 'Upload_Date': upload_date,
                 'Views': views})
df

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.70
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.85
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.35
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.72
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.51
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.38
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.63
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.57
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.57
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.43
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.07
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.94
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.70
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.58
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.58
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.55
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.45
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.36
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.29
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.28
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.27
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.24
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.23
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.21
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.21
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.17
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.17
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.14
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.08

In [13]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
    
A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

# Connect To Driver

In [30]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [31]:
url='https://www.bcci.tv/'

In [32]:
driver.get(url)

In [35]:
driver.maximize_window()
time.sleep(2)

In [36]:
cookies= driver.find_element_by_xpath("//button[@class='cookie__accept btn btn-primary']").click()

In [37]:
#view all
driver.execute_script("window.scrollBy(0,3)")
view_all= driver.find_element_by_xpath("//a[@class='moreMatchesLink']").click()

In [38]:
#date
date=[]
date_tag= driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']/h5")
for i in date_tag:
    date.append(i.text)

In [39]:
#Time
time=[]
time_tag= driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']/h5")
for i in time_tag:
    time.append(i.text)

In [40]:
#match
match=[]
match_tag= driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']/span[1]")
for i in match_tag:
    match.append(i.text.replace('-',''))

In [41]:
#place
place=[]
place_tag=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']/span[2]")
for i in place_tag:
    place.append(i.text.replace(',',''))

In [42]:
#Url
match_centre=[]
url_tag=driver.find_elements_by_xpath("//a[@class='match-center-btn ng-scope']")
for i in url_tag:
    url= i.get_attribute('href')
    match_centre.append(url)

In [54]:
match_title=[] 
series=[]

In [55]:
for i in match_centre:
    driver.get(i)
    
    #match_title
    try:
        match_tag= driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/div[3]/div[6]/div[4]/div[2]/div[2]/div[1]/div/ul/li[2]/span[2]")
        match_title.append(match_tag.text)
    except NoSuchElementException:
        match_title.append("-")
        
    
    #Series
    try:
        series_tag= driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/div[3]/div[6]/div[4]/div[2]/div[2]/div[1]/div/ul/li[1]/span[2]")
        series.append(series_tag.text)
    except NoSuchElementException:
        series.append("-")

In [57]:
print(len(date), len(time), len(match), len(place), len(match_title), len(series))

5 5 5 5 5 5

# Make DataFrame

In [58]:
df=pd.DataFrame({'Match': match,
                 'Match_title': match_title,
                 'Series': series,
                 'Date': date,
                 'Time': time,
                 'Place': place})
df

,Match,Match_title,Series,Date,Time,Place
0,1st T20I,India VS South Africa,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,9 JUN 2022,7:00 PM IST,Arun Jaitley Stadium
1,2nd T20I,India VS South Africa,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,12 JUN 2022,7:00 PM IST,Barabati Stadium
2,3rd T20I,India VS South Africa,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,14 JUN 2022,7:00 PM IST,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium
3,4th T20I,India VS South Africa,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,17 JUN 2022,7:00 PM IST,Saurashtra Cricket Association Stadium
4,5th T20I,India VS South Africa,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,19 JUN 2022,7:00 PM IST,M Chinnaswamy Stadium

In [59]:
driver.close()

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
    
A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

# Connect To Driver

In [185]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [186]:
url='https://www.guru99.com/'

In [187]:
driver.get(url)

In [188]:
driver.maximize_window()
#time.sleep(10)

In [189]:
#Go to webpage and scroll manually, then it will work

search_bar= WebDriverWait(driver,10).until(EC.presence_of_element_located((By.ID, 'gsc-i-id1')))
search_bar.send_keys('Selenium Exception Handling')

In [190]:
search_icon= driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button')
search_icon.click()

In [191]:
driver.execute_script("window.scrollBy(0,3)")
selenium= driver.find_element_by_xpath("//div[@class='gs-title']/a")
exc= selenium.get_attribute('href')
driver.get(exc)

In [68]:
# To scrape Name
driver.execute_script("window.scrollBy(0,2)")
name=[]
try:
    name_tag= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in name_tag:
        name.append(i.text)
except NoSuchElementException:
    name.append("-")
    
    
description=[]
try:
    description_tag= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in description_tag:
        description.append(i.text)
except NoSuchElementException:
    name.append("-")

In [69]:
print(len(name), len(description))

41 41

# Make DataFrame

In [70]:
df=pd.DataFrame({'Name': name,
                 'Description': description})
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [71]:
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
    
A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

# Connect To Driver

In [72]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [73]:
url='http://statisticstimes.com/'

In [74]:
driver.get(url)

In [77]:
driver.maximize_window()
time.sleep(3)

In [78]:
#economy
economy=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [79]:
eco_india= driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")

try:
    eco_india.click()
except ElementNotInteractableException:
    driver.get(eco_india.get_attribute('href'))
time.sleep(2)

In [83]:
# To go to GDP of Indian States
states=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
try:
    states.click()
except ElementNotInteractableException:
    driver.get(states.get_attribute('href'))
time.sleep(2)

In [84]:
#To get rank
rank=[]
try:
    rank_tag=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[1]")
    for i in rank_tag:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")

In [85]:
#To get States
state=[]
try:
    state_tag=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[2]")
    for i in state_tag:
        state.append(i.text)
except NoSuchElementException:
    state.append("-")

In [86]:
#To get GSDP 19-20
GSDP19_20=[]
try:
    GSDP19_20_tag=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[3]")
    for i in GSDP19_20_tag:
        GSDP19_20.append(i.text)
except NoSuchElementException:
    GSDP19_20.append("-")

In [87]:
#To get GSDP 18-19
GSDP18_19=[]
try:
    GSDP18_19_tag=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[4]")
    for i in GSDP18_19_tag:
        GSDP18_19.append(i.text)
except NoSuchElementException:
    GSDP18_19.append("-")

In [88]:
#To get share
share=[]
try:
    share_tag=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[5]")
    for i in share_tag:
        share.append(i.text)
except NoSuchElementException:
    share.append("-")

In [89]:
#To get GDP
GDP=[]
try:
    GDP_tag=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[6]")
    for i in GDP_tag:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append("-")

In [90]:
print(len(rank), len(state), len(GSDP19_20), len(GSDP18_19), len(share), len(GDP))

66 66 66 66 66 66

# Make DataFrame

In [91]:
df=pd.DataFrame({'Rank': rank,
                 'State': state,
                 'GSDP19_20': GSDP19_20,
                 'GSDP18_19': GSDP18_19,
                 'Share': share,
                 'GDP': GDP})
df[0:33]

   Rank                      State  GSDP19_20  GSDP18_19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

In [92]:
df[33:]

   Rank                      State  GSDP19_20  GSDP18_19   Share        GDP
33    1                Maharashtra          -  2,332,992  13.97%          -
34    2                 Tamil Nadu  1,659,210  1,465,361   8.77%  1,167,776
35    3              Uttar Pradesh  1,495,758  1,404,761   8.41%  1,015,735
36    4                  Karnataka  1,476,983  1,351,553   8.09%  1,035,131
37    5                    Gujarat          -  1,322,936   7.92%          -
38    6                West Bengal  1,150,711    995,502   5.96%    713,376
39    7                  Rajasthan    916,014    845,247   5.06%    630,693
40    8                  Telangana    881,873    782,370   4.68%    594,806
41    9             Andhra Pradesh    875,429    776,140   4.65%    595,605
42   10             Madhya Pradesh    827,019    737,156   4.41%    496,798
43   11                     Kerala          -    707,542   4.24%          -
44   12                      Delhi    779,647    704,529   4.22%    568,265
45   13                    Haryana    755,790    666,075   3.99%    514,983
46   14                      Bihar    562,710    486,776   2.91%    377,276
47   15                     Punjab    517,521    472,506   2.83%    374,015
48   16                     Odisha    457,757    428,031   2.56%    344,437
49   17                      Assam          -    282,782   1.69%          -
50   18                  Jharkhand    301,242    271,990   1.63%    218,232
51   19               Chhattisgarh    288,041    266,537   1.60%    210,837
52   20                Uttarakhand          -    221,871   1.33%          -
53   21           Himachal Pradesh    143,063    133,303   0.80%    107,171
54   22            Jammu & Kashmir          -    129,877   0.78%          -
55   23                        Goa     72,181     66,060   0.40%     56,810
56   24                    Tripura     50,227     44,835   0.27%     35,980
57   25                 Chandigarh          -     37,571   0.22%          -
58   26                 Puducherry     34,823     31,415   0.19%     22,291
59   27                  Meghalaya     32,833     29,544   0.18%     23,564
60   28                    Manipur     29,148     25,323   0.15%     18,549
61   29                     Sikkim     28,391     25,141   0.15%     17,060
62   30                   Nagaland          -     24,534   0.15%          -
63   31          Arunachal Pradesh          -     22,488   0.13%          -
64   32                    Mizoram     24,424     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -          -       -          -

In [93]:
driver.close()

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [104]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [105]:
url='https://github.com/trending'

In [106]:
driver.get(url)

In [107]:
driver.maximize_window()
time.sleep(2)

In [108]:
url = driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")

urls = []
for i in url:
    urls.append(i.get_attribute('href'))

In [109]:
repo_title=[]
description=[]
contributors=[]
lang=[]

for i in urls:
    driver.get(i)
    #repository
    try:
        repository_tag = driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']/a")
        repo_title.append(repository_tag.text)
    except NoSuchElementException:
        repo_title.append("-")
        
    #description
    try:
        description_tag= driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p")
        description.append(description_tag.text)
    except NoSuchElementException:
        description.append("-")
        
    #contributors
    try:
        contributors_tag = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        contributors.append(contributors_tag.text)
    except NoSuchElementException:
        contributors.append("-")
  
    
    #languages 
    try:
        languages=driver.find_elements_by_xpath("//li[@class='d-inline']/a/span[1]")
        for i in languages:
            lang.append(i.text.split('\n')[0])  
    except NoSuchElementException:
        lang.append("-")

In [110]:
lang=lang[0:25]

In [111]:
print(len(repo_title), len(description), len(contributors), len(lang))

25 25 25 25

In [112]:
df=pd.DataFrame({
        'Repository_title': repo_title,
        'Description': description,
        'Contributors_count': contributors,
        'Language_used': lang
    })
df

,Repository_title,Description,Contributors_count,Language_used
0,msdt-follina,Codebase to generate an msdt-follina payload,-,Python
1,system-design-resources,These are the best resources for System Design...,2,Smarty
2,follina.py,POC to replicate the full 'Follina' Office RCE...,4,Python
3,DeepFaceLive,Real-time face swap for PC streaming or video ...,5,Python
4,New-Grad-Positions-2023,A collection of New Grad full time roles in SW...,127,Python
5,machine-learning-interview,"Machine Learning Interviews from FAANG, Snapch...",6,Python
6,DevSecOps,Ultimate DevSecOps library,24,C++
7,vagas,Espaço para divulgação de vagas para front-end...,33,Python
8,Summer2023-Internships,Collection of Summer 2023 tech internships!,203,Cuda
9,wtfpython,What the f*ck Python?,68,C
10,flash-attention,-,2,Go
11,Open-IM-Server,即时通讯IM,24,Shell
12,Tenets-of-IT,The Tenets of IT: an accumulation of IT advice...,-,Makefile
13,weekly,科技爱好者周刊，每周五发布,29,Dockerfile
14,Awesome-Redteam,一个红队知识仓库,-,Python
15,python-patterns,A collection of design patterns/idioms in Python,106,C#
16,akaunting,Free and Online Accounting Software,73,C++
17,copilot-docs,Documentation for GitHub Copilot,9,Python
18,CogVideo,Text-to-video generation.,-,Makefile
19,vue,"Vue.js is a progressive, incrementally-adoptab...",326,PHP
20,Akebi-GC,The great software for some game that exploiti...,14,Blade
21,ag-grid,The best JavaScript Data Table for building En...,104,Vue
22,black,The uncompromising Python code formatter,322,Python
23,nowinandroid,A fully functional Android app built entirely ...,25,Ruby
24,flutter,Flutter makes it easy and fast to build beauti...,"1,027",TypeScript

In [113]:
driver.close()

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [114]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [115]:
url='https:/www.billboard.com/'

In [116]:
driver.get(url)

In [117]:
driver.maximize_window()
time.sleep(3)

In [118]:
# To get Top 100 songs
top100= driver.find_element_by_xpath("//li[@class='o-nav__list-item ']/a")
top100.click()

In [120]:
#To get the song name
song=[]
song_tag= driver.find_elements_by_xpath("//h3[@id='title-of-a-story']")
for i in song_tag:
    song.append(i.text)

In [121]:
songs=song[5::4]
songs=songs[0:100]

In [122]:
# To get full details
details=[]
details_tag= driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li/span")
for i in details_tag:
    details.append(i.text)

In [123]:
details

['Harry Styles',
 '2',
 '1',
 '8',
 'Jack Harlow',
 '1',
 '1',
 '7',
 'Future Featuring Drake & Tems',
 '4',
 '1',
 '4',
 'Harry Styles',
 '-',
 '4',
 '1',
 'Lizzo',
 '9',
 '5',
 '6',
 'Glass Animals',
 '12',
 '1',
 '71',
 'Latto',
 '10',
 '3',
 '31',
 'Harry Styles',
 '-',
 '8',
 '1',
 'Harry Styles',
 '-',
 '9',
 '1',
 'Bad Bunny & Chencho Corleone',
 '14',
 '10',
 '3',
 'Imagine Dragons X JID',
 '17',
 '5',
 '27',
 'The Kid LAROI & Justin Bieber',
 '21',
 '1',
 '46',
 'Harry Styles',
 '-',
 '13',
 '1',
 'Harry Styles',
 '-',
 '14',
 '1',
 'Harry Styles',
 '-',
 '15',
 '1',
 'Bad Bunny',
 '18',
 '5',
 '3',
 'Bad Bunny',
 '15',
 '4',
 '3',
 'Justin Bieber',
 '25',
 '5',
 '35',
 'Doja Cat',
 '24',
 '7',
 '43',
 'Kendrick Lamar',
 '3',
 '3',
 '2',
 'Harry Styles',
 '-',
 '21',
 '1',
 'Harry Styles',
 '-',
 '22',
 '1',
 'Morgan Wallen',
 '28',
 '9',
 '28',
 'Harry Styles',
 '-',
 '24',
 '1',
 'Harry Styles',
 '-',
 '25',
 '1',
 'Morgan Wallen',
 '6',
 '6',
 '2',
 'Ed Sheeran',
 '30',
 '2',
 '48',
 'Dove Cameron',
 '36',
 '28',
 '15',
 'Harry Styles',
 '-',
 '29',
 '1',
 'Harry Styles',
 '-',
 '30',
 '1',
 'Bad Bunny & Rauw Alejandro',
 '27',
 '14',
 '3',
 'Bad Bunny',
 '26',
 '6',
 '3',
 'Kodak Black',
 '32',
 '3',
 '29',
 'Lil Nas X',
 '34',
 '8',
 '36',
 'Em Beihold',
 '42',
 '35',
 '17',
 'Ed Sheeran',
 '37',
 '4',
 '37',
 'Camila Cabello Featuring Ed Sheeran',
 '39',
 '21',
 '12',
 'Elton John & Dua Lipa',
 '38',
 '7',
 '38',
 'Future',
 '31',
 '4',
 '4',
 'Megan Thee Stallion & Dua Lipa',
 '45',
 '15',
 '11',
 'Kendrick Lamar, Blxst & Amanda Reifer',
 '5',
 '5',
 '2',
 'Zach Bryan',
 '75',
 '42',
 '5',
 'Post Malone Featuring Roddy Ricch',
 '29',
 '29',
 '2',
 'Jason Aldean',
 '48',
 '33',
 '10',
 'Karol G',
 '35',
 '25',
 '5',
 'Cody Johnson',
 '43',
 '18',
 '33',
 'Becky G X Karol G',
 '44',
 '15',
 '15',
 'Parmalee',
 '56',
 '48',
 '8',
 'Kendrick Lamar & Kodak Black',
 '7',
 '7',
 '2',
 'Bad Bunny & Bomba Estereo',
 '49',
 '26',
 '3',
 'Walker Hayes',
 '46',
 '28',
 '20',
 'The Kid LAROI',
 '57',
 '15',
 '5',
 'Lil Baby',
 '60',
 '14',
 '7',
 'JNR CHOI & Sam Tompkins',
 '58',
 '38',
 '13',
 'Bad Bunny & Jhay Cortez',
 '52',
 '18',
 '3',
 'Bad Bunny',
 '53',
 '16',
 '3',
 'Scotty McCreery',
 '62',
 '57',
 '8',
 'Doja Cat',
 '67',
 '58',
 '25',
 'Quavo & Takeoff',
 '-',
 '59',
 '1',
 'Tate McRae',
 '64',
 '44',
 '16',
 'Kendrick Lamar',
 '13',
 '13',
 '2',
 'Morgan Wallen',
 '50',
 '12',
 '3',
 'Bad Bunny',
 '65',
 '34',
 '3',
 'Ed Sheeran Featuring Lil Baby',
 '70',
 '51',
 '5',
 'Bailey Zimmerman',
 '92',
 '65',
 '4',
 'Thomas Rhett',
 '76',
 '43',
 '14',
 'Shawn Mendes',
 '66',
 '38',
 '8',
 'Cole Swindell / Lainey Wilson',
 '71',
 '27',
 '19',
 'Lil Durk Featuring Gunna',
 '73',
 '22',
 '11',
 'Bad Bunny',
 '61',
 '22',
 '3',
 'Lil Baby',
 '74',
 '13',
 '7',
 'Tyga X Doja Cat',
 '68',
 '43',
 '13',
 'Kendrick Lamar Featuring Sampha',
 '11',
 '11',
 '2',
 'Kane Brown',
 '-',
 '74',
 '1',
 'Miranda Lambert',
 '86',
 '53',
 '17',
 'Jack Harlow',
 '63',
 '21',
 '3',
 'Bad Bunny',
 '69',
 '31',
 '3',
 'Kendrick Lamar',
 '20',
 '20',
 '2',
 'Kendrick Lamar',
 '8',
 '8',
 '2',
 'Bad Bunny & Tony Dize',
 '72',
 '32',
 '3',
 'Nardo Wick, Lil Baby & Future',
 '91',
 '58',
 '20',
 'ERNEST Featuring Morgan Wallen',
 '84',
 '64',
 '18',
 'Future Featuring Drake',
 '80',
 '11',
 '4',
 'Future',
 '79',
 '12',
 '4',
 'Gunna & Future Featuring Young Thug',
 '90',
 '7',
 '20',
 'Lady Gaga',
 '98',
 '82',
 '3',
 'Bad Bunny & Buscabulla',
 '81',
 '51',
 '3',
 'Maren Morris',
 '-',
 '52',
 '18',
 'Carly Pearce & Ashley McBryde',
 '82',
 '63',
 '20',
 'Russell Dickerson & Jake Scott',
 '-',
 '86',
 '8',
 'Summer Walker & SZA',
 '95',
 '13',
 '20',
 'Kendrick Lamar, Baby Keem, & Sam Dew',
 '23',
 '23',
 '2',
 'Nate Smith',
 '-',
 '84',
 '2',
 'Bad Bunny',
 '85',
 '44',
 '3',
 'Bad Bunny',
 '88',
 '56',
 '3',
 'Bad Bunny & The Marias',
 '87',
 '49',
 '3',
 'Kendrick Lamar & Taylour Paige',
 '16',
 '16',
 '2',
 'Bad Bunny',
 '83',
 '45',
 '3',
 'Ella Mai',
 '-',
 '99',
 '1',
 'Queen Naija & Big Sean',
 '-',
 '88',
 '5']

In [124]:
artist=details[0::4]
ranklw=details[1::4]
peakpos=details[2::4]
weeksonchart=details[3::4]

In [125]:
print(len(songs), len(artist), len(ranklw), len(peakpos), len(weeksonchart))

100 100 100 100 100

# Make DataFrame

In [126]:
df=pd.DataFrame({'Songs': songs,
                 'Artist': artist,
                 'Ranklastweek': ranklw,
                 'PeakPos': peakpos,
                 'WeeksonChart': weeksonchart})
df

   Songs                          Artist Ranklastweek PeakPos WeeksonChart
0                           Harry Styles            2       1            8
1                            Jack Harlow            1       1            7
2          Future Featuring Drake & Tems            4       1            4
3                           Harry Styles            -       4            1
4                                  Lizzo            9       5            6
..   ...                             ...          ...     ...          ...
95                Bad Bunny & The Marias           87      49            3
96        Kendrick Lamar & Taylour Paige           16      16            2
97                             Bad Bunny           83      45            3
98                              Ella Mai            -      99            1
99                Queen Naija & Big Sean            -      88            5

[100 rows x 5 columns]

In [127]:
driver.close()

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [128]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [129]:
url='https://www.naukri.com/hr-recruiters-consultants'

In [130]:
driver.get(url)

In [131]:
driver.maximize_window()
time.sleep(3)

In [132]:
search_button= driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_button.send_keys('Data Science')

In [133]:
icon=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
icon.click()

In [134]:
#To get Name
name=[]
try:
    name_tag= driver.find_elements_by_xpath("//a[@class='ellipsis']/span")
    for i in name_tag:
        name.append(i.text)
except NoSuchElementException:
    name.append("-")

In [135]:
#To get designation
designation=[]
try:
    designation_tag= driver.find_elements_by_xpath("//p[@class='highlightable']/span")
    for i in designation_tag:
        designation.append(i.text)
except NoSuchElementException:
    designation.append("-")

In [136]:
#To get company
company=[]
try:
    company_tag= driver.find_elements_by_xpath("//a[@class='ellipsis']")
    for i in company_tag:
        company.append(i.text)
except NoSuchElementException:
    company.append("-")

In [137]:
company_name=company[1::2]

In [138]:
#To get Location
location=[]
try:
    location_tag=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    for i in location_tag:
        location.append(i.text)
except NoSuchElementException:
    location.append("-")

In [139]:
#Skills
skills=[]
try:
    skills_tag=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for i in skills_tag:
        skills.append(i.text)
except NoSuchElementException:
    skills.append("-")

In [140]:
name=name[0:48]
designation=designation[0:48]
company_name= company_name[0:48]
location=location[0:48]
skills=skills[0:48]

In [141]:
print(len(name), len(designation), len(company_name), len(location), len(skills))

48 48 48 48 48

# Make dataframe

In [142]:
df=pd.DataFrame({'Name': name,
                 'Designation': designation,
                 'Company_Name': company_name,
                 'Location': location,
                 'Skills': skills})
df

,Name,Designation,Company_Name,Location,Skills
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Delhi,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company Recruiter,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Hyderabad / Secunderabad,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Company HR,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Pune,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Company Recruiter,IFMR,Chennai,Data Science
7,Balu Ramesh,Ahmedabad,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Founder CEO,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,UK - (london),CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,Recruitment Lead Consultant,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Vadodara / Baroda,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Programme Manager,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Chennai,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,Mahesh Babu Channa,HR Administrator,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,Trivandrum,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Dhruv Dev Dubey,Director,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
17,Sakshi Chhikara,Indore,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Human Resource,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,Bengaluru / Bangalore,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,HR Manager,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,Hyderabad,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,Executive Hiring,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,Hyderabad / Secunderabad,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,Company HR,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Bengaluru / Bangalore,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Hemant Jog,Company HR,Hexaware Technologies Ltd.,Mumbai,"Big Data, spark, scala, hadoop, hive, Data War..."
27,Azahar Shaikh,Mumbai,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
28,Manas,HR Team Lead,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
29,kumar,Hyderabad / Secunderabad,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
30,Sunil Vedula,HR Manager,Nanoprecise Sci Corp,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
31,Rajat Kumar,Bhopal,R.S Consultancy &amp; Services,Mysoru / Mysore,"Web Technologies, Project Management, Software..."
32,Jayanth N,Company Recruitment Head,"Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad,"Data Analytics, Managed Services, Team Leading..."
33,Avodha,Bengaluru / Bangalore,Nikitha Palaparthi,Bengaluru / Bangalore,"Ethical Hacking, Security Operations Center, S..."
34,Priya Khare,Assistant Manager HR,Independent Consultant,New Delhi,"Data Science, Artificial Intelligence, analyti..."
35,Amit Sharma,Chandigarh,ASCO consulting,Chennai,"Machine Learning, Artificial Intelligence, Dat..."
36,Kanan,Senior Executive Talent Acquisition,NY INST,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ..."
37,Shashikant Chaudhary,Pune,3D India Staffing Research &amp; Consulting...,Salt Lake City,"Relationship Management, Retail Sales, Private..."
38,Brad,HR Executive,O.C. Tanner,Pune,"Data Science, Software Engineering"
39,Rutuja Pawar,Navi Mumbai,Demand Matrix,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Mark..."
40,Madhusudhan Sridhar,Manager Talent Acquisition,MADHUSUDHAN SRIDHAR,Mumbai,"Data Science, Recruitment, Salary"
41,Ankit Sinha,Cochin,Suntech Global,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
42,Gaurav Chouhan,HR Head,Strategic Consulting Lab,Bengaluru / Bangalore,"Software Development, Business Intelligence, B..."
43,Rashi Kacker,Delhi,Impel Labs Pvt. Ltd.,MYSORE,"Data Science, Node.js, Angularjs"
44,Ashwini,HR MANAGER,MRP Advisers,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planni..."
45,Balaji Kolli,Hyderabad / Secunderabad,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
46,Rajani Nagaraj,HR Recruiter,WildJasmine,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
47,ROHIT Kumar,Pune,LNT Private Limited,Hyderabad / Secunderabad,"Software Development, Core Java, Unit Testing,..."

In [143]:
driver.close()

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [144]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [145]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'

In [146]:
driver.get(url)

In [147]:
driver.maximize_window()
time.sleep(3)

In [148]:
#To get book name
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:             
    book_name.append("-")

In [149]:
#To get author name
author_name=[]
try:
    author=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in author:
        author_name.append(i.text)
except NoSuchElementException:             
    author_name.append("-")

In [150]:
#To get volumes sold
vol_sold=[]
try:
    volumes=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in volumes:
        vol_sold.append(i.text)
except NoSuchElementException:             
    vol_sold.append("-")

In [151]:
#To get publisher
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:             
    publisher.append("-")

In [152]:
#To get Genre
genre=[]
try:
    genre_tag=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genre_tag:
        genre.append(i.text)
except NoSuchElementException:             
    genre.append("-")

In [153]:
print(len(book_name), len(author_name), len(vol_sold), len(publisher), len(genre))

100 100 100 100 100

# Make DataFrame

In [154]:
df=pd.DataFrame({'Book': book_name,
                 'Author': author_name,
                 'Volume_sold': vol_sold,
                 'Publisher': publisher,
                 'Genre': genre})
df

,Book,Author,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [155]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [156]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [157]:
url=' https://www.imdb.com/list/ls095964455/'

In [158]:
driver.get(url)

In [159]:
driver.maximize_window()
time.sleep(3)

In [160]:
#To get names
name=[]
try:
    names_tag=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names_tag:
        name.append(i.text)
except NosuchElementException:
    name.append("-")

In [161]:
#To get Year Span
year=[]
try:
    year_tag=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in year_tag:
        year.append(i.text)
except NosuchElementException:
    year.append("-")

In [162]:
#To get Genre
genre=[]
try:
    genre_tag=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
    for i in genre_tag:
        genre.append(i.text)
except NosuchElementException:
    genre.append("-")

In [163]:
#To get run time
runtime=[]
try:
    runtime_tag=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
    for i in runtime_tag:
        runtime.append(i.text)
except NosuchElementException:
    runtime.append("-")

In [164]:
#ratings
ratings=[]
try:
    ratings_tag=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings_tag:
        ratings.append(i.text)
except NosuchElementException:
    ratings.append("-")

In [165]:
#To get votes
votes=[]
try:
    votes_tag=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")
    for i in votes_tag:
        votes.append(i.text)
except NosuchElementException:
    votes.append("-")

In [166]:
votes=votes[1::2]

In [167]:
print(len(name), len(year), len(genre), len(runtime), len(ratings), len(votes))

100 100 100 100 100 100

# Make DataFrame

In [168]:
df=pd.DataFrame({'Name': name,
                 'Year': year,
                 'Genre': genre,
                 'Runtime': runtime,
                 'Ratings': ratings,
                 'Votes': votes})
df

,Name,Year,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,991,097"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,014,993"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"948,058"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"283,248"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,039"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,788"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,449"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"189,961"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,223"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"228,117"

In [169]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [170]:
driver= webdriver.Chrome(r'C:\Users\user\AppData\Local\Temp\Rar$EXa0.836\chromedriver.exe')

In [171]:
url=' https://archive.ics.uci.edu/'

In [172]:
driver.get(url)

In [173]:
driver.maximize_window()
time.sleep(3)

In [174]:
# To click view all datasets
view= driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
view.click()
time.sleep(3)

In [175]:
#To get names
name=[]
try:
    name_tag= driver.find_elements_by_xpath("//p[@class='normal']/b/a")
    for i in name_tag:
        name.append(i.text)
except NoSuchElementException:
    name.append("-")

In [176]:
#To get type
types=[]
try:
    type_tag= driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p")
    for i in type_tag[1:]:
        types.append(i.text)
except NoSuchElementException:
    types.append("-")

In [177]:
#To get task
task=[]
try:
    task_tag= driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p")
    for i in task_tag[1:]:
        task.append(i.text)
except NoSuchElementException:
    task.append("-")

In [178]:
#To get Attribute_type
att_type=[]
try:
    att_tag= driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p")
    for i in att_tag[1:]:
        att_type.append(i.text)
except NoSuchElementException:
    att_type.append("-")

In [179]:
#To get instance
instance=[]
try:
    instance_tag= driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p")
    for i in instance_tag[1:]:
        instance.append(i.text)
except NoSuchElementException:
    instance.append("-")

In [180]:
#To Get Attribute
attribute=[]
try:
    attribute_tag= driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p")
    for i in attribute_tag[1:]:
        attribute.append(i.text)
except NoSuchElementException:
    attribute.append("-")

In [181]:
#To get Year
year=[]
try:
    year_tag= driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]/p")
    for i in year_tag[1:]:
        year.append(i.text)
except NoSuchElementException:
    year.append("-")

In [182]:
print(len(name), len(types), len(task), len(att_type), len(instance), len(attribute), len(year))

622 622 622 622 622 622 622

# Make DataFrame

In [183]:
df=pd.DataFrame({'Name': name,
                 'Data Type': types,
                 'Task': task,
                 'Attribute Type': att_type,
                 'Instance': instance,
                 'Attribute': attribute,
                 'Year': year})
df

,Name,Data Type,Task,Attribute Type,Instance,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [184]:
driver.close()